.list{
    list-style-type: none;
    padding-left: 20px;
    padding-top: 5px;
  }

.ulist li {
    /* background: #cce5ff; */
    color: darkblue;
    margin: 5px;
  }

.top {
    background: #c2dbf5;
    padding: 20px;
}

.bottom{
    background: #e6c1f7;
    padding: 20px;
}

